.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 img{
  height: 200px;
  width: 200px;
 }

 .carousel-inner img {
  background-color: white;
  border-radius: 5px;
  margin: auto;
}

.carousel h2 {
  text-align: center;
}

h2 {
  text-align: center;
}
 h1{
  text-align: center;
 }

 p{
  text-align: center;
  padding-top: 20px;
  margin: auto;
 }

.carousel {
  background-color: lightgrey;
  border-radius: 20px;
  height: 450px;
  width: 700px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid grey;
}

.btn-primary {
  margin-left:310px;
  width: 90px;
}

.heart {
  margin: auto;
  padding-top: 0px;
  padding-bottom: 10px;
}

.modal-body img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.modal-title {
  display: flex;
  justify-content: center;
}

.modal-footer .bt-secondary {
  display: flex;
  justify-content: center;
}

/* .form-label {
  display: flex;
  justify-content: center;
} */

.form-select {
  text-align: center;
  max-width: 300px;
}

.test {
  display: flex;
  justify-content: center;
}